<footer>
  <div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-between gap-2 position-relative py-13 px-10 mx-auto">
      <p>
        <span class="d-block fs-4">ALPHABOX+</span>
        <span class="d-none d-lg-block fw-bold">Copyright © 2023 Hexschool.</span>
      </p>
      <span class="d-inline-block display-5 lh-1 position-lg-absolute top-50 start-50 translate-middle-lg">✱</span>
      <ul class="list-unstyled d-flex flex-column flex-lg-row gap-2 gap-lg-6 mb-0">
        <a href="#"><li class="fw-bold">關於我們</li></a>
        <a href="#"><li class="fw-bold">產品資訊</li></a>
        <a href="#"><li class="fw-bold">產品資訊</li></a>
        <a href="#"><li class="fw-bold">隱私政策</li></a>
      </ul>
      <p class="d-block d-lg-none font-sans-serif fw-bold ls-tiny-1">Copyright © 2023 Hexschool.</p>
    </div>
  </div>
</footer>