<footer>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between position-relative py-13">
      <p>
        <span class="d-block fs-4">ALPHABOX+</span>
        <span class="d-block fw-bold">Copyright © 2023 Hexschool.</span>
      </p>
      <span class="d-inline-block display-5 lh-1 position-absolute top-50 start-50 translate-middle">✱</span>
      <ul class="list-unstyled d-flex gap-6">
        <a href="#"><li class="fw-bold">關於我們</li></a>
        <a href="#"><li class="fw-bold">產品資訊</li></a>
        <a href="#"><li class="fw-bold">產品資訊</li></a>
        <a href="#"><li class="fw-bold">隱私政策</li></a>
      </ul>
    </div>
  </div>
</footer>