<nav class="navbar navbar-expand-lg bg-primary sticky-top border-bottom border-light">
  <div class="container position-relative">
    <a class="navbar-brand fs-5 fs-lg-4 link-light" href="#">ALPHABOX+</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse font-sans-serif border-top border-lg-0 border-light" id="navbarSupportedContent">
      <ul class="navbar-nav link-light position-lg-absolute start-lg-50 translate-middle-lg-x d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link link-light" href="#">產品</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">關於我們</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">最新消息</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="#">聯絡我們</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item">
          <a href="#" class="nav-link link-light px-3">註冊</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-light px-3">登入</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link link-dark px-3 btn btn-light d-flex align-items-center fill-light-hover">
            <span class="subscribe-icon-bg"></span>
            訂閱</a>
        </li>
      </ul>
    </div>
  </div>
</nav>