.hero-bg {
  height: auto;
  @include gradient-y(#7000FF, #11002D, 0%, 100%);

  @media(min-width: 992px) {
    height: 680px;
    background-image: url('../images/home_background.png');
  }
  @media(min-width: 1200px) {
    height: 880px;
  }
}

// .carousel-content {
//   .banner-a {
//     background: linear-gradient(90deg, #7000FF 0%, #11002D 100%);
//   }
//   .banner-b {
//     background: linear-gradient(270deg, #7000FF 0%, #11002D 100%);
//   }
// }

.carousel-bg {
  @include gradient-radial(#300871, #000);
}

.carousel-banner {
  @include gradient-directional(#7000FF, #11002D, 90deg);
}
.carousel-banner-reverse {
  @include gradient-directional(#7000FF, #11002D, 270deg);
}