.hero-bg {
  @include gradient-y(#7000FF, #11002D, 0%, 100%);
  aspect-ratio: 275/1310;
  @media(min-width: 375px) {
    aspect-ratio: 375/1700;
  }
  @media(min-width: 576px) {
    aspect-ratio: 576/810;
  }
  @media(min-width: 768px) {
    aspect-ratio: 768/1000;
  }
  @media(min-width: 992px) {
    aspect-ratio: 992/600;
  }
  @media(min-width: 1200px) {
    aspect-ratio: 1200/690;
  }
  @media(min-width: 1400px) {
    aspect-ratio: 1400/770;
  }
  @media(min-width: 1400px) {
    aspect-ratio: 1400/770;
  }
  @media(min-width: 1784px) {
    height: 880px;
    aspect-ratio: auto;
  }
}
.hero-diane {
  content: url('../images/diane_square1.png');
  @media(min-width: 992px) {
    content: url('../images/diane.png');
  }
}
.hero-felix {
  content: url('../images/felix_square1.png');
  @media(min-width: 992px) {
    content: url('../images/felix.png');
  }
}
.hero-karina {
  content: url('../images/karina_square1.png');
  @media(min-width: 992px) {
    content: url('../images/karina.png');
  }
}
.hero-vito {
  content: url('../images/vito_square1.png');
  @media(min-width: 992px) {
    content: url('../images/vito.png');
  }
}

.carousel-bg {
  @include gradient-radial(#300871, #000);
}
.carousel-bg-left {
  height: 1080px;
  background-image: url('../images/carousel_mobile.png')
}
.carousel-banner-bg {
  @include gradient-directional(#7000FF, #11002D, 90deg);
}
.carousel-banner-reverse-bg {
  @include gradient-directional(#7000FF, #11002D, 270deg);
}

.news-bg {
  @include gradient-radial(#28085C, #000);
}

.swiper-bg {
  @include gradient-radial(#000, #28085C);
}
.swiper-bg-watermark {
  display: block;
  top: 98%;
  @media(min-width: 576px) {
    top: 93%;
  }
  span {
    color: rgba(255, 255, 255, 0.04);
    text-align: center;
    font-size: 128px !important;
    @media(min-width: 576px) {
      font-size: 400px !important;
    }
  }
}