
$subscribe-icon-bg:  url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <mask id="mask0_3011_65" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"> <rect width="24" height="24" fill="%23D9D9D9"/> </mask> <g mask="url(%23mask0_3011_65)"> <path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="black"/> </g></svg>'); 

.subscribe-icon-bg {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: $subscribe-icon-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.alphabox-circle-rotation {
  width: 196px;
  animation-name: rotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
  animation-fill-mode: both; 
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}