.index {
  .container-x {
    max-width: 1784px;
  }
  /* ------------------------------------ */
  .s3 {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #28085C 0%, #000 100%);
  }
  .arrow path {
    fill: #000000;
  }
  /* ------------------------------------ */
  .s4 {
    height: 1080px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #000 0%, #28085C 100%);
  }
  /* ------------------------------------ */
  .s5 {
    height: 622px;
  }
  /* ------------------------------------ */
  .s6 {
    height: 876px;
  }
}

