.index {
  .container-x {
    max-width: 1784px;
  }
  /* ------------------------------------ */
  .s1 {
    height: 880px;
  }
  /* ------------------------------------ */
  .s2 {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #300871 0%, #000 100%);
  }
  .carousel-content {
    .banner-a {
      background: linear-gradient(90deg, #7000FF 0%, #11002D 100%);
    }
    .banner-b {
      background: linear-gradient(270deg, #7000FF 0%, #11002D 100%);
    }
  }
  /* ------------------------------------ */
  .s3 {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #28085C 0%, #000 100%);
  }
  .arrow path {
    fill: #000000;
  }
  /* ------------------------------------ */
  .s4 {
    height: 1080px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #000 0%, #28085C 100%);
  }
  /* ------------------------------------ */
  .s5 {
    height: 622px;
  }
  /* ------------------------------------ */
  .s6 {
    height: 876px;
  }
}

