<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./layout/link'); -%>
    <title>AI 虛擬陪伴 - FAQ</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main>
      <div class="bg-info">
        <div class="container">
          <div class="pt-16 pb-25">
            <h1
              class="font-sans-serif fs-3 fw-bolder text-secondary ls-12 pb-16 mb-10 border-bottom-dotted border-light">
              FAQ</h1>
            <div class="row">
              <div class="col-4">
                <ul class="list-unstyled d-flex flex-column gap-4">
                  <li><a href="./faq.html" class="font-sans-serif fw-medium link-primary text-secondary">ALPHABOX+ 使用問題</a></li>
                  <li><a href="#" class="fw-medium link-primary text-secondary">訂購與運送</a></li>
                  <li><a href="#" class="fw-medium link-primary text-secondary">產品保養與維修</a></li>
                </ul>
              </div>
              <div class="col-8">
                <div class="accordion accordion-flush font-sans-serif" id="accordionFlushExample">
                  <div class="accordion-item border-bottom-dotted border-light pb-10 bg-info">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed bg-info fw-medium text-secondary py-0" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                        ALPHABOX+ 的使用方式是什麼？
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bg-info text-secondary">
                        首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item border-bottom-dotted border-light bg-info py-10">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed bg-info py-0 fw-medium text-secondary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        ALPHABOX+ 需要什麼樣的環境來使用？
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bg-info">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body.
                        Let's imagine this being filled with some actual content.</div>
                    </div>
                  </div>
                  <div class="accordion-item border-bottom-dotted border-light bg-info py-10">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed bg-info py-0 fw-medium text-secondary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        ALPHABOX+ 支援哪些語言？
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bg-info">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body.
                        Let's imagine this being filled with some actual content.</div>
                    </div>
                  </div>
                  <div class="accordion-item border-bottom-dotted border-light bg-info py-10">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed bg-info py-0 fw-medium text-secondary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        ALPHABOX+ 的軟體更新方式為何？
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bg-info">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body.
                        Let's imagine this being filled with some actual content.</div>
                    </div>
                  </div>
                  <div class="accordion-item border-bottom-dotted border-light bg-info py-10">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed bg-info py-0 fw-medium text-secondary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        購買 ALPHABOX+ 後的售後服務如何？
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bg-info">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body.
                        Let's imagine this being filled with some actual content.</div>
                    </div>
                  </div>
                  <div class="accordion-item border-bottom-dotted border-light bg-info py-10">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed bg-info py-0 fw-medium text-secondary" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        ALPHABOX+ 與其他智能家居設備的相容性如何？
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body bg-info">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body.
                        Let's imagine this being filled with some actual content.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>