<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./layout/link'); -%>
    <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="index">
      <!-- ------------------------ -->
      <section class="s1 bg-size-cover bg-position-center bg-repeat-no"
        style="background-image: url('../assets/images/home_background.png');">
        <div class="container container-x pt-6 pt-lg-14">
          <div class="row flex-column-reverse flex-lg-row">
            <div class="col-3 d-none d-lg-block align-self-center">
              <div class="pb-2 border-bottom border-light">
                <span class="d-block font-sans-serif fw-bold text-light">最新消息！新版本 v15.4 釋出，搶先體驗！</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="d-flex flex-column align-items-center">
                <img src="../assets/images/circle.png" alt="" class="alphaboxCircle mb-8 mb-lg-14">
                <h1 class="text-light fs-6 fs-lg-4 ls-3 ls-sm-6 ls-xxxl-17 me-xxxl-n17">ALPHABOX+</h1>
                <h2 class="font-sans-serif text-light fw-bold ls-tiny-3 ls-lg-4">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h2>
              </div>
            </div>
            <div class="col-lg-3 d-block d-lg-flex">
              <div class="d-flex flex-column justify-content-between flex-grow-0 mb-8 mb-lg-0 w-100">
                <div class="pt-1 border-top border-light">
                  <span class="d-block font-sans-serif fw-bold ls-tiny-1 text-light">ALPHABOX+ STUDIO</span>
                </div>
                <div class="">
                  <span class="d-none d-lg-block font-sans-serif fw-medium ls-tiny-1 text-info">Copyright © 2023
                    Hexschool.</span>
                </div>
                <div class=""></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 position-relative row">
              <img src="../assets/images/diane.png" alt="" class="position-absolute z-index-1 col">
            </div>
            <div class="col-3 position-relative row">
              <img src="../assets/images/felix.png" alt="" class="position-absolute z-index-1 col">
            </div>
            <div class="col-3 position-relative row">
              <img src="../assets/images/karina.png" alt="" class="position-absolute z-index-1 col">
            </div>
            <div class="col-3 position-relative row">
              <img src="../assets/images/vito.png" alt="" class="position-absolute z-index-1 col">
            </div>
          </div>
        </div>
      </section>
      <!-- ------------------------ -->
      <section class="s2 position-relative">
        <div class="carousel-background bg-size-cover bg-position-center bg-repeat-no w-50"
          style="height: 1080px; background-image: url('../assets/images/carousel_mobile.png');"></div>
        <div class="carousel-content position-absolute top-0 start-0 w-100 h-100 pt-21 backdrop-blur-3">
          <div class="container container-x">
            <div class="banner-a py-5 mb-2"></div>
            <h2 class="font-sans-serif fs-5 fs-lg-3 fw-bold ls-3 ls-sm-6 ls-lg-12 text-light mb-3">什麼是
            </h2>
            <h2 class="font-sans-serif fs-5 fs-lg-3 fw-bold ls-3 ls-sm-6 ls-lg-12 text-light mb-4">
              ALPHABOX+</h2>
          </div>
          <div class="border border-bottom-0 border-light mb-8"></div>
          <div class="container Xcontainer-x">
            <div id="indexCarousel" class="carousel slide d-flex mb-8" data-bs-ride="false">
              <button class="carousel-control-prev position-static d-none d-lg-flex" type="button"
                data-bs-target="#indexCarousel" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                  <mask id="mask0_2013_1238" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180"
                    height="48">
                    <rect width="180" height="48" fill="#28085C" />
                  </mask>
                  <g mask="url(#mask0_2013_1238)">
                    <path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="white" />
                  </g>
                </svg>
                <span class="carousel-control-prev-icon-bg"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../assets/images/carousel.png" class="d-block w-100 object-fit-cover" alt="..."
                    style="height: 560px;">
                  <div
                    class="carousel-caption d-flex flex-column justify-content-center align-items-end start-0 end-0 h-100 me-10 text-end">
                    <h2 class="display-3">01</h2>
                    <h3 class="fs-4 fw-bold ls-8 me-n8 mb-4">立體投影技術</h3>
                    <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../assets/images/carousel.png" class="d-block w-100 object-fit-cover" alt="..."
                    style="height: 560px;">
                  <div
                    class="carousel-caption d-flex flex-column justify-content-center align-items-end start-0 end-0 h-100 me-10 text-end">
                    <h2 class="display-3">02</h2>
                    <h3 class="fs-4 fw-bold ls-8 me-n8 mb-4">立體投影技術</h3>
                    <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../assets/images/carousel.png" class="d-block w-100 object-fit-cover" alt="..."
                    style="height: 560px;">
                  <div
                    class="carousel-caption d-flex flex-column justify-content-center align-items-end start-0 end-0 h-100 me-10 text-end">
                    <h2 class="display-3">03</h2>
                    <h3 class="fs-4 fw-bold ls-8 me-n8 mb-4">立體投影技術</h3>
                    <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-next position-static d-none d-lg-flex" type="button"
                data-bs-target="#indexCarousel" data-bs-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                  <mask id="mask0_2013_1241" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180"
                    height="48">
                    <rect width="180" height="48" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_2013_1241)">
                    <path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white" />
                  </g>
                </svg>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="container container-x">
            <div class="banner-b py-5"></div>
          </div>
        </div>
      </section>
      <!-- ------------------------ -->
      <section class="s3">
        <div class="container">
          <div class="pt-22 font-sans-serif text-light">
            <h2 class="fs-3 fw-bold ls-12 mb-10">最新消息</h2>
            <div class="border border-start-0 border-end-0 border-light py-10 px-4">
              <div class="">
                <span></span>
                <span class="fw-bold ls-4 mb-2">2023.06.30</span>
              </div>
              <h3 class="fs-7 fw-bold ls-5 mb-3">產品升級公告</h3>
              <div class="d-flex flex-wrap justify-content-between">
                <p class="fw-bold mb-3">榮幸地宣布，ALPHABOX+
                  已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br>歡迎您了解本次升級帶來的更為卓越的性能！
                </p>
                <a href="#" class="d-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
                    <mask id="mask0_237_5007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="196"
                      height="24">
                      <rect width="196" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_237_5007)">
                      <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white" />
                    </g>
                  </svg>
                </a>
              </div>
            </div>
            <div class="row gx-0">
              <div class="col-lg-6">
                <div class="h-100 border-end-lg border-bottom border-light py-10 px-4">
                  <div class="">
                    <span></span>
                    <span class="fw-bold ls-4 mb-2">2023.06.30</span>
                  </div>
                  <h3 class="fs-7 fw-bold ls-5 mb-3">限時優惠活動</h3>
                  <p class="fw-bold mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                  <a href="#" class="d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
                      <mask id="mask0_233_4968" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                        width="90" height="24">
                        <rect width="90" height="24" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_233_4968)">
                        <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="h-100 border-bottom border-light py-10 px-4">
                  <div class="">
                    <span></span>
                    <span class="fw-bold ls-4 mb-2">2023.04.18</span>
                  </div>
                  <h3 class="fs-7 fw-bold ls-5 mb-3">新功能上線</h3>
                  <p class="fw-bold mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
                  <a href="#" class="d-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="24" viewBox="0 0 90 24" fill="none">
                      <mask id="mask0_233_4968" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                        width="90" height="24">
                        <rect width="90" height="24" fill="#D9D9D9" />
                      </mask>
                      <g mask="url(#mask0_233_4968)">
                        <path d="M77 19L80.425 13H2V11H80.425L77 5L88 12L77 19Z" fill="white" />
                      </g>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <!-- ------------------------ -->
      <section class="s4">
        <div class="container">
          <h1>Hello World</h1>
        </div>
      </section>
      <!-- ------------------------ -->
      <section class="s5 bg-hover-primary" style="background: #1F0F39;">
        <div class="container"></div>
      </section>
      <!-- ------------------------ -->
      <section class="s6 bg-dark">
        <div class="container"></div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>